<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914878667575-7p02vc1arg30k6e8j4ea8ncljg99rinf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914878667575-7p02vc1arg30k6e8j4ea8ncljg99rinf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>914878667575-laasbc1prj20ilnkkk58fkrqh70o2c7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChpoMkHVt8aDeIl8hQhCvtx9gdD6AeZZc</string>
	<key>GCM_SENDER_ID</key>
	<string>914878667575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWeather</string>
	<key>PROJECT_ID</key>
	<string>weather-app-def49</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-def49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914878667575:ios:8f93e4dd7a391d0b2498b2</string>
</dict>
</plist>